<body class="h-14 bg-gradient-to-r from-cyan-400 to-blue-500">
<div class="flex-col mx-auto"> 
  <p class="font-bold font-mono">Enter the information for each passenger</p>
  <%= render "form", booking: @booking %>
</div>
</body>